:root {
  --color-dark-greenish-rgb: 0, 243, 133;
  --color-dark-greenish-100: rgba(var(--color-dark-greenish-rgb), 1);
  --color-dark-greenish-80: rgba(var(--color-dark-greenish-rgb), 0.8);
  --color-dark-greenish-70: rgba(var(--color-dark-greenish-rgb), 0.7);
}
