:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-main-background: #333333;

  --color-pink: #dc6860;
  --color-orange: #ffa317;
  --color-greenish: #54d894;
  --color-purple: #8459b9;

  --color-greenish-100: #00f385;

  --color-grey-11: #e3e3e3;
  --color-grey-33: #acacac;
  --color-grey-34: #a8a8aa;
  --color-grey-39: #9c9b9b;
  --color-grey-53: #797979;
  --color-grey-56: #909090;
  --color-grey-68: #515151;
  --color-grey-74: #434343;
  --color-grey-77: #555555;
  --color-grey-83: #2b2b2b;
  --color-grey-84: #282828;
  --color-grey-85: #1f1f1f;

  --color-grey-secondary: #7d7c7c;

  --color-error: var(--color-pink);
  --color-success: var(--color-greenish);

  --color-dark-greenish-rgb: 0, 243, 133;
  --color-dark-downy-rgb: 92, 200, 183;
  --color-dark-greenish-100: rgba(var(--color-dark-greenish-rgb), 1);
  --color-dark-greenish-80: rgba(var(--color-dark-greenish-rgb), 0.8);
  --color-dark-greenish-70: rgba(var(--color-dark-greenish-rgb), 0.7);
  --color-dark-downy-100: rgba(var(--color-dark-downy-rgb), 1);
}
