@import "./colors/light.css";
@import "./colors/dark.css";

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-pink: #dc6860;
  --color-orange: #ffa317;
  --color-greenish: #7ad499;
  --color-purple: #8459b9;
  --color-greenish-100: #54d895;
  --color-bluish-100: #5cc8b7;
}
