/*
 * Dark High
 * */

@keyframes dark-high-focus {

  0% {
    box-shadow: var(--button-focus-animation-start) var(--button-dark-high);
  }

  100% {
    box-shadow: var(--button-focus-animation-end) var(--button-dark-high);
  }
}

.dark-high {
  animation: none;
  color: var(--button-color);
  background-color: var(--button-dark-high);
  background-image: var(--color-greenish-gradient);
  border: none;
  will-change: box-shadow;
}

.dark-high:focus {
  animation-name: dark-high-focus;
  animation-duration: var(--button-focus-animation-duration);
  background-color: var(--button-dark-high-focus);
  background-image: none;
  border: none;
}

.dark-high:hover {
  animation: none;
  background-color: var(--button-dark-high-hover);
  background-image: var(--color-greenish-gradient-hover);
  border-color: var(--button-dark-high-hover);
  border: none;
}

.dark-high:active {
  animation: none;
  background-color: var(--button-dark-high-active);
  background-image: var(--color-greenish-gradient-active);
  border: none;
}

.dark-high svg {
  color: var(--button-dark-high-icon);
  will-change: transform;
}

.dark-high svg:active {
  transform: var(--button-animation-icon);
}

/*
* Dark Normal
* */

.dark-normal svg {
  color: var(--button-normal-icon);
  will-change: transform;
}

.dark-normal svg:active {
  transform: var(--button-animation-icon);
}
