.high {
  animation: none;
  color: var(--button-color);
  background-color: var(--button-high);
  background-image: var(--color-greenish-gradient);
  border: none;
  transition: opacity 0.2s ease;
  will-change: opacity;
}

.high:hover {
  opacity: 0.8;
}

.high:active {
  opacity: 0.7;
}

.high:focus {
  animation-name: high-focus;
  animation-duration: var(--button-focus-animation-duration);
}

.high svg {
  color: var(--button-high);
  will-change: transform;
}

.high svg:active {
  transform: var(--button-animation-icon);
}

.normal {
  animation: none;
  color: var(--button-color);
  background-color: var(--button-normal);
  background-image: none;
  border: none;
  transition: opacity 0.2s ease;
  will-change: opacity;
}

.normal:hover {
  opacity: 0.8;
}

.normal:active {
  opacity: 0.7;
}

.normal svg {
  color: var(--button-normal);
  will-change: transform;
}

.normal svg:active {
  transform: var(--button-animation-icon);
}
