:root {
  --color-greenish-gradient:
    linear-gradient(
      to right,
      var(--color-dark-greenish-50),
      var(--color-dark-greenish-gradient-50)
    );
  --color-greenish-gradient-hover:
    linear-gradient(
      to right,
      var(--color-dark-greenish-60),
      var(--color-dark-greenish-gradient-60)
    );
  --color-greenish-gradient-active:
    linear-gradient(
      to right,
      var(--color-dark-greenish-65),
      var(--color-dark-greenish-gradient-65)
    );
  --button-font-family: var(--primary-font-family);
  --button-font-weight: var(--title-font-weight);
  --button-font-style: var(--title-font-style);

  --button-font-size-extra-small: 12px;
  --button-font-size-small: 14px;
  --button-font-size-default: 14px;
  --button-font-size-large: 14px;

  --button-padding-extra-small: 8px;
  --button-padding-small: 16px;
  --button-padding-default: 24px;
  --button-padding-large: 32px;

  --button-height-extra-small: 20px;
  --button-height-small: 30px;
  --button-height-default: 40px;
  --button-height-large: 50px;

  --button-focus-box-shadow: inset 0 0 3px 3px;
  --button-color: var(--color-white);

  --button-focus-animation-duration: 0.4s;
  --button-focus-animation-start: inset -500px 0 3px 0;
  --button-focus-animation-end: inset 0 0 3px 0;
  --button-animation-icon: scale(0.9);

  --button-dark-hight: var(--color-dark-greenish-50);
  --button-dark-high-gradient: var(--color-dark-greenish-50);
  --button-dark-high-focus: var(--color-dark-green-65);
  --button-dark-high-hover: var(--color-dark-greenish-60);
  --button-dark-high-active: var(--color-dark-greenish-65);
  --button-dark-high-icon: var(--color-dark-green-50);

  --button-normal-icon: var(--color-dark-grey-90);
}
