:root {
  --color-greenish-gradient:
    linear-gradient(
      to right,
      var(--color-bluish-100),
      var(--color-greenish-100)
    );

  --button-radius: 3px;

  --button-font-family: var(--primary-font-family);
  --button-font-weight: var(--title-font-weight);
  --button-font-style: var(--title-font-style);

  --button-font-size-extra-small: 12px;
  --button-font-size-small: 12px;
  --button-font-size-default: 14px;
  --button-font-size-large: 16px;
  --button-font-size-extra-large: 16px;

  --button-padding-extra-small: 8px;
  --button-padding-small: 8px;
  --button-padding-default: 9px;
  --button-padding-large: 9px;
  --button-padding-extra-large: 17px;

  --button-padding-bottom-extra-small: 9px;

  --button-height-extra-small: 26px;
  --button-height-small: 26px;
  --button-height-default: 28px;
  --button-height-large: 28px;
  --button-height-extra-large: 46px;

  --button-color: var(--color-white);

  --button-animation-icon: scale(0.9);

  --button-high: var(--color-greenish-100);

  --button-normal: var(--color-dark-grey-90);

  --button-focus-animation-duration: 0.4s;
}
