@import "./properties.css";

/*
* Default
*/

.button {
  position: relative;
  border: none;
  border-radius: var(--button-radius);
  background-color: var(--button-background-color);
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: all 0.1s ease;
}

.button:hover {
  background-color: var(--button-background-color-hover);
}

.button:active {
  transform: var(--button-animation-active);
  background-color: var(--button-background-color-active);
}

.button:focus {
  background-color: var(--button-background-color-focus);
}

.button:disabled {
  background-color: var(--button-background-color-disabled);
}

/*
* Fill
*/

.clean,
.clean:hover,
.clean:active,
.clean:focus {
  background-color: transparent;
  background-image: none;
}

.outline,
.outline:hover,
.outline:active,
.outline:focus {
  color: var(--color-dark-greenish-100);
  border: 2px solid var(--color-dark-greenish-100);
  background-color: transparent;
  background-image: none;
}

.double,
.double:hover,
.double:active,
.double:focus {
  margin-top: 2px;
  color: var(--button-double-main-color);
  border: 2px solid var(--button-double-border-color);
  outline: 2px solid var(--button-double-outline-color);
  background-color: var(--button-double-outline-color);
  text-transform: initial;
}

/*
* Sizes
*/

.extra-small {
  padding: var(--button-padding-top-extra-small) var(--button-padding-left-extra-small);
  font-size: var(--button-font-size-extra-small);
  text-transform: none;
}

.small {
  padding: var(--button-padding-top-small) var(--button-padding-left-small);
  font-size: var(--button-font-size-small);
}

.default {
  padding: var(--button-padding-top-default) var(--button-padding-left-default);
  font-size: var(--button-font-size-default);
  line-height: var(--button-font-size-default);
}

.large {
  padding: var(--button-padding-top-large) var(--button-padding-left-large);
  font-size: var(--button-font-size-large);
}

.extra-large {
  padding: var(--button-padding-top-extra-large) var(--button-padding-left-extra-large);
  font-size: var(--button-font-size-extra-large);
}

/*
* Relevance
*/

.high {
  color: var(--button-color-high);
}

.low {
  color: var(--button-color-low);
}

