@import "../../styles/colors.css";
@import "../../styles/typography.css";
@import "./properties.css";
@import "./colors.css";

.button {
  border: none;
  border-radius: var(--button-radius);
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  font-style: var(--button-font-style);
  letter-spacing: 0.7px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.flat,
.flat:hover,
.flat:active,
.flat:focus {
  background-image: none;
}

.clean,
.clean:hover,
.clean:active,
.clean:focus {
  background-color: transparent;
  background-image: none;
  animation: none;
}

.extra-small {
  padding: var(--button-padding-extra-small);
  padding-bottom: var(--button-padding-bottom-extra-small);
  font-size: var(--button-font-size-extra-small);
  height: var(--button-height-extra-small);
  text-transform: none;
}

.small {
  padding: var(--button-padding-small);
  font-size: var(--button-font-size-small);
  height: var(--button-height-small);
  text-transform: none;
}

.default {
  padding: var(--button-padding-default);
  font-size: var(--button-font-size-default);
  height: var(--button-height-default);
  line-height: var(--button-font-size-default);
}

.large {
  padding: var(--button-padding-large);
  font-size: var(--button-font-size-large);
  height: var(--button-height-large);
}

.extra-large {
  padding: var(--button-padding-extra-large);
  font-size: var(--button-font-size-extra-large);
  height: var(--button-height-extra-large);
}
