@import "../../colors.css";
@import "../../typography.css";
@import "../../spacing.css";
@import "../../media.css";
@import "../../margin.css";

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  font-family: var(--primary-font-family);
  text-align: center;
}

.header {
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  flex: 2;
}

.content {
  border-top: 1px dotted var(--color-error);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 3;

  & > * {
    padding-top: var(--spacing-tiny);
  }
}

.title {
  color: var(--color-error);
  font-size: 22px;
  font-weight: 900;
  margin: 0;
}

.subtitle {
  font-size: 14px;
  font-weight: 900;
  margin: 0;
}

.question {
  font-size: 16px;
  line-height: 25px;
}

.subtitle,
.question {
  color: var(--color-white);
}

.questionList {
  list-style: none;
  padding-left: 0;
}

.questionTitle {
  font-size: 14px;
  color: #a7a7a7;
  margin: 0;
}

.footer {
  align-items: center;
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer > button {
  text-transform: none;
}

.icon {
  fill: var(--color-error);
  width: 43px;
}

@media (--media-palm) {

  .header {
    flex: 3;
  }

  .content {
    flex: 5;
  }
}
