@import "../colors.css";
@import "../typography.css";
@import "../spacing.css";
@import "../media.css";

.customerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 330px;
  width: 100%;

  & > * {
    padding-top: var(--spacing-medium);
  }
}

.buttonContainer {
  width: 100%;
  max-width: 330px;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  align-items: flex-end;
  margin-bottom: var(--spacing-medium);
}

.title {
  width: 100%;
  margin-top: var(--spacing-large);
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-size: var(--font-size-large);
  color: var(--color-title);
  letter-spacing: 0.02em;
  justify-content: center;
  display: flex;
}

@media (--media-palm) {

  .buttonContainer {
    margin-top: 22px;
  }

  .buttonContainer > button {
    width: 60%;
  }
}
