@import "../colors.css";
@import "../typography.css";
@import "../spacing.css";
@import "../media.css";

.customerForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 10;
  max-width: 330px;
  width: 100%;

  & > *:not(:first-child) {
    padding-top: var(--spacing-medium);
  }
}

.title {
  margin: 0;
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-size: var(--font-size-large);
  color: var(--color-title);
  text-align: center;
  letter-spacing: 0.02em;
  align-items: center;
  display: flex;
  flex: 2;
}

.footer {
  align-items: center;
  flex: 2;
  display: flex;
  width: 100%;
}

@media (--media-palm) {

  .customerForm {
    max-width: 92%;
  }
}
