@import "../colors.css";
@import "../typography.css";
@import "../spacing.css";
@import "../media.css";
@import "../margin.css";

.page {
  margin: var(--spacing-medium) var(--spacing-small);
}

.title {
  margin: 6px 0;
  font-family: var(--primary-font-family);
  font-size: var(--font-size-small);
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.light .title {
  color: var(--color-grey-77);
}

.titleIcon {
  padding: 0 9px 0 0;
}

@media (--media-palm) {

  .title {
    display: none;
  }

  .page {
    margin-left: var(--margin-page-mobile);
    margin-right: var(--margin-page-mobile);
  }
}

