@import "../colors.css";
@import "../typography.css";

.dropdown {
  position: relative;
}

.dropdown:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0;
  border-color: var(--color-white) transparent transparent transparent;
  position: absolute;
  right: 14px;
  top: 10px;
}

.select {
  appearance: none;
  background: #262626;
  border-color: #4b4b4b;
  border-radius: 13px;
  color: var(--color-white);
  cursor: pointer;
  outline: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  position: relative;
  width: 100%;
}

.select,
.option,
.secondaryText {
  font-family: var(--primary-font-family);
}

.select,
.option {
  font-size: var(--font-size-small);
}

.disabled {
  cursor: not-allowed;
}

.disabled > .select {
  color: var(--color-grey-68);
}

.error > .select {
  border-color: var(--color-error);
}

.secondaryText {
  color: var(--color-error);
  font-size: 11px;
  margin-bottom: 0;
  margin-left: 15px;
  margin-top: 2px;
}
