@import "../../../colors.css";
@import "../../../typography.css";

:root {
  --dropdown-background-color: var(--color-white);
  --dropdown-font-family: var(--primary-font-family);

  --dropdown-border-radius: 0;
  --dropdown-border-bottom: var(--color-grey-68);
  --dropdown-border-left: none;
  --dropdown-border-right: none;
  --dropdown-border-top: none;

  --dropdown-input-font-size: var(--font-size-small);
  --dropdown-input-text-color: var(--color-white);

  --dropdown-color-disabled: var(--color-grey-34);

  --dropdown-icon-size: 30px;

  --dropdown-option-color: var(--color-grey-85);
  --dropdown-option-selected-color: var(--color-white);
  --dropdown-option-disabled-opacity: 0.5;

<<<<<<< 5710db711f4f78263e79ef8ee63fd97ad1688c09:src/theme-pagarme/dropdown/properties.css
  --dropdown-disabled-opacity: 0.6;
  --dropdown-disabled-background: none;
=======
  --option-text-color: var(--color-white);
  --option-hover-text-color: var(--color-dark-primary-color);
  --option-font-size: var(--font-size-small);
  --option-padding: 7px var(--spacing-medium) 7px;
>>>>>>> themes: add initial light theme:src/styles/themes/default/dropdown/properties.css

  --dropdown-placeholder-color: var(--color-grey-53);
  --dropdown-label-font-size: var(--font-size-tiny);

<<<<<<< 5710db711f4f78263e79ef8ee63fd97ad1688c09:src/theme-pagarme/dropdown/properties.css
  --dropdown-secondary-text-font-size: var(--font-size-tiny);
=======
  --scrollbar-thumb-background-color: var(--color-dark-primary-color);
  --scrollbar-thumb-border-radius: 5px;
>>>>>>> themes: add initial light theme:src/styles/themes/default/dropdown/properties.css

  --dropdown-error-color: var(--color-error);

  --dropdown-icon-color-active: var(--color-black);
  --dropdown-icon-background-active: var(--color-grey-34);
  --dropdown-text-color: var(--color-grey-68);

  --dropdown-select-padding-bottom: 2px;
  --dropdown-select-padding-left: 0;
  --dropdown-select-padding-right: 20px;
  --dropdown-select-padding-top: 3px;

  --dropdown-arrow-padding-top: 8px;
}
