@import "../../colors.css";
@import "../../typography.css";
@import "../../spacing.css";
@import "../../media.css";
@import "../../margin.css";
@import "../../switch/index.css";

.wrapperPai {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
}

.wrapper {
  background: #434343;
  padding-top: 30px;
  max-width: 420px;
}

.wrapperPai,
.wrapper,
.wrapper * {
  justify-content: center;
}

.wrapper * {
  box-sizing: border-box;
  font-family: var(--primary-font-family);
  text-align: center;
}

.title {
  color: var(--checkout-primary-color);
  font-size: 22px;
  font-weight: 900;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 10px;
  width: 100%;
}

.line {
  min-width: 390px;
  max-width: 390px;
  display: block;
  height: 1px;
  border-color: #a1a1a1;
  padding-left: 0;
  padding-bottom: 0;
  margin: 15px auto;
  border-style: dotted;
}

.subtitle,
.value {
  width: 100%;
  margin-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.subtitle {
  color: #a0a0a0;
  font-size: 12px;
  margin-bottom: 4px;
}

.value {
  color: var(--color-white);
  font-weight: 900;
  font-size: 14px;
  margin-bottom: 25px;
}

.noPadding {
  padding-bottom: 0;
  padding-top: 0;
}

.noPaddingBottom {
  padding-bottom: 0;
}

.buttonsWrapper {
  width: 100%;
  max-width: 350px;
}

.centerJustifyContent {
  justify-content: center;
}

.buttonColumn {
  display: inline-flex;
}

.buttonColumn:first-child {
  padding-right: 5px;
}

.buttonColumn:last-child {
  padding-left: 5px;
}

.buttonColumn > button {
  width: 100%;
  justify-content: center;
  line-height: 20px;
}
