@import "../../colors.css";
@import "../../typography.css";
@import "../../media.css";

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  font-family: var(--primary-font-family);
  text-align: center;
}

.header {
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  flex: 2;
}

.icon {
  fill: var(--color-success);
  width: 43px;
}

.title {
  color: var(--checkout-primary-color);
  font-size: 22px;
  font-weight: 900;
  margin: 0;
}

.content {
  border-top: 1px dotted #a1a1a1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 4;

  & > * {
    padding-top: var(--spacing-tiny);
  }
}

.infoField {
  font-size: 14px;
  color: var(--color-grey-35);
  margin: 0;
}

.infoValue {
  font-size: 16px;
  color: var(--color-white);
  margin: 0;
}

.footer {
  align-items: center;
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.centerAlign {
  justify-content: center;
}

.footer > button > svg {
  max-width: 15px;
  max-height: 15px;
}

.boletoButtonsWrapper {
  display: flex;
}

.boletoButtonsWrapper button {
  height: 40px;
  width: 180px;
  padding-bottom: 0;
  padding-top: 0;
}

.boletoButtonsWrapper button > svg {
  max-width: 21px;
  max-height: 15px;
}

.boletoButtonsWrapper button div {
  justify-content: center;
}

.boletoButtonsWrapper button p {
  margin-top: 0;
  margin-bottom: 0;
}

.whiteIcon {
  fill: var(--color-white);
}

@media (--media-palm) {

  .content {
    flex: 5;
  }

  .boletoButtonsWrapper {
    flex-direction: column;
  }
}
