{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["Chrome >= 40", "ie >= 10", "Firefox >= 50", "safari >= 7"],
        "include": [
          "transform-es2015-arrow-functions",
          "es6.array.find",
          "es6.array.find-index",
          "es6.promise",
          "es6.string.includes",
          "es6.array.fill",
          "es6.string.code-point-at"
        ]
      },
      "useBuiltIns": "entry"
    }],
    "react",
    "stage-0"
  ]
}
