@import "../colors.css";
@import "../typography.css";
@import "../media.css";
@import "../spacing.css";

.addressForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.inputsContainer {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;

  & > * {
    padding-top: var(--spacing-medium);
  }
}

.title {
  width: 100%;
  margin-top: var(--spacing-large);
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-size: var(--font-size-large);
  color: var(--color-title);
  letter-spacing: 0.02em;
  justify-content: center;
  display: flex;
  text-align: center;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--spacing-medium);
  fill: var(--checkout-primary-color);
}

.buttonContainer button:first-child {
  margin-left: var(--spacing-medium);
}

.buttonContainer button:first-child:hover {
  fill: var(--color-black);
}

.buttonContainer button:last-child {
  margin-right: var(--spacing-medium);
}

.fieldNumber,
.fieldNumber input {
  width: 18%;
}

.fieldComplement,
.fieldComplement input {
  width: 72%;
}

.fieldCity,
.fieldCity input {
  width: 63%;
}

.fieldState,
.fieldState input {
  width: 30%;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
}

.inputGroup:last-child {
  align-items: center;
}

.switchLabel {
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-style: italic;
  color: var(--color-white);
  font-size: 13px;
}

@media (--media-palm) {

  .title {
    font-size: var(--font-size-medium);
  }

  .inputsContainer {
    width: 87%;
  }

  .buttonContainer button {
    font-size: 13px;
  }
}
