@import "../colors.css";
@import "../typography.css";
@import "../media.css";
@import "../spacing.css";

.addressForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.inputsContainer {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;

  & > * {
    padding-top: var(--spacing-medium);
  }
}

.title {
  width: 100%;
  margin-top: var(--spacing-large);
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-size: var(--font-size-large);
  color: var(--color-title);
  letter-spacing: 0.02em;
  justify-content: center;
  display: flex;
  text-align: center;
}

.fieldNumber,
.fieldNumber input {
  width: 18%;
}

/* stylelint-disable */
.fieldNumber input[type='number'] {
  -moz-appearance:textfield;
}

.fieldNumber input::-webkit-outer-spin-button,
.fieldNumber input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* stylelint-enable */

.fieldComplement,
.fieldComplement input {
  width: 72%;
}

.fieldCity,
.fieldCity input {
  width: 63%;
}

.fieldState,
.fieldState input {
  width: 30%;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
}

.inputGroup:last-child {
  align-items: center;
}

.switchLabel {
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-style: italic;
  color: var(--color-white);
  font-size: 13px;
}

@media (--media-palm) {

  .title {
    font-size: var(--font-size-medium);
    margin: 0;
    margin-top: 32px;
  }

  .inputsContainer {
    width: 90%;
  }
}
