@import "../colors.css";
@import "../typography.css";
@import "../media.css";
@import "../spacing.css";

.addressForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 10;
  max-width: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;

  & > *:not(:first-child) {
    padding-top: var(--spacing-medium);
  }
}

.title {
  margin: 0;
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-size: var(--font-size-large);
  color: var(--color-title);
  text-align: center;
  letter-spacing: 0.02em;
  display: flex;
  flex: 2;
  align-items: center;
}

.fieldNumber,
.fieldNumber input {
  width: 19%;
}

/* stylelint-disable */
.fieldNumber input[type='number'] {
  -moz-appearance:textfield;
}

.fieldNumber input::-webkit-outer-spin-button,
.fieldNumber input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* stylelint-enable */

.fieldComplement,
.fieldComplement input {
  width: 70%;
}

.fieldCity,
.fieldCity input {
  width: 63%;
}

.fieldState,
.fieldState input {
  width: 30%;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
}

.inputGroup:last-child {
  align-items: center;
}

.switchLabel {
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-style: italic;
  color: var(--color-white);
  font-size: 13px;
}

.footer {
  align-items: center;
  flex: 2;
  display: flex;
  width: 100%;
}

@media (--media-palm) {

  .addressForm {
    max-width: 92%;
  }
}
