@import "../../styles/media.css";
@import "../../styles/spacing.css";
@import "../../styles/colors.css";
@import "../../styles/typography.css";

.total {
  width: 100%;
  margin-top: 3px;
  color: var(--color-dark-greenish-50);
  font-size: var(--font-size-small);
  font-family: var(--primary-font-family);
  letter-spacing: calc(var(--letter-spacing) + 0.08em);
  text-transform: uppercase;
  text-align: right;
}

.total .value {
  display: block;
}

.button {
  width: 100%;
  max-width: 400px;
}

.safe {
  position: relative;
  justify-content: flex-end;
  color: var(--color-white);
  font-size: var(--font-size-tiny);
  font-family: var(--primary-font-family);
  text-transform: uppercase;
  padding-bottom: var(--spacing-tiny);
}

.safe svg {
  margin-right: 5px;
  margin-bottom: 3px;
}

.safe:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -12px;
  width: 1px;
  height: 12px;
  background-color: var(--color-black);
  border-right: 1px solid var(--color-dark-grey-25);
}

.powered {
  color: var(--color-dark-grey-50);
  font-size: var(--font-size-tiny);
  font-family: var(--primary-font-family);
  text-transform: lowercase;
  padding-bottom: var(--spacing-tiny);
}

@media (--media-palm) {

  .total {
    text-align: center;
  }

  .total .value {
    display: inline;
  }

  .button {
    max-width: 100%;
  }

  .safe,
  .powered {
    justify-content: center;
  }

  .safe:after {
    display: none;
  }
}
