@import "../colors.css";
@import "../typography.css";
@import "./properties.css";

.close,
.back {
  font-size: var(--header-button-size);
  padding: 0;
}

.logo {
  max-height: var(--logo-max-height);
  max-width: var(--logo-max-width);
  padding-top: var(--logo-padding-top);
  padding-bottom: var(--logo-padding-bottom);
}

.header {
  min-height: var(--header-min-height);
  max-height: var(--header-max-height);
  display: flex;
}

.header > * {
  align-items: center;
  flex: 1;
}
