:root {
  --header-button-size: 25px;
  --logo-padding-top: 31px;
  --logo-padding-bottom: 33px;
  --logo-max-width: 400px;
  --logo-max-height: 26px;
  --header-min-height: 90px;
  --header-max-height: 90px;
}
