@import "./properties.css";

.page {
  margin: var(--page-margin);
}

.title {
  margin: var(--page-title-margin);
  font-family: var(--page-title-font-family);
  font-size: var(--page-title-font-size);
  color: var(--page-title-color);
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.boletoInfo {
  font-family: var(--barcode-font-family);
  font-weight: var(--barcode-font-weight);
  color: var(--barcode-color);
  margin-bottom: 29px;
}

.barcodeImg {
  width: 300px;
  height: 70px;
  margin-top: 34px;
}

.boletoContainer {
  background-color: var(--generate-background-color);
  width: 100%;
  margin-top: 27px;
  margin-right: 24px;
  margin-left: 24px;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 0.7;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.amount {
  color: var(--amount-color);
  letter-spacing: 1.6px;
  font-family: var(--amount-font-family);
  font-weight: var(--amount-font-weight);
  font-size: var(--amount-font-size);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding-bottom: 0;
}

.cvvTolltip {
  position: absolute;
  left: 20%;
  top: 32%;
}

@media (--media-palm) {

  .boletoContainer {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .barcodeImg {
    width: 70%;
  }
}
