@import "../../styles/colors.css";

:root {
  --input-font-family: var(--primary-font-family);
  --input-font-size: 14px;

  --input-textarea-border-color: var(--color-light-grey-25);
  --input-textarea-border-radius: 0;
  --input-textarea-caret-default-color: var(--color-light-grey-75);

  --input-textarea-focus-border-color: var(--color-light-grey-25);
  --input-textarea-focus-transition-time: 100ms;

  --input-textarea-placeholder-opacity: 0;
  --input-textarea-focus-placeholder-opacity: 1;
  --input-textarea-focus-placeholder-color: var(--color-light-grey-100);

  --input-textarea-disabled-border: none;
  --input-textarea-disabled-background: var(--color-light-gray-50);

  --input-textarea-disabled-border-radius: 0;

  --input-color-disabled: var(--color-light-grey-25);

  --input-label-color-default: var(--color-light-grey-100);
  --input-label-transition-time: 0.1s;
  --input-label-font-size-default: var(--input-font-size);
  --input-label-font-size-focus: 12px;
  --input-label-color-focus: var(--color-light-grey-75);

  --input-textarea-height: calc(100% - 25px);

  --input-icon-active-color: var(--color-light-grey-75);
  --input-icon-inactive-color: var(--color-light-grey-50);

  --input-secondary-text-color: var(--color-light-grey-75);
  --input-secondary-text-font-size: 12px;

  --input-textarea-padding-top: 16px;

  --input-container-textarea-padding-top: 25px;
}
