@import "../colors.css";
@import "../media.css";

.logo {
  max-width: 110px;
  max-height: 21px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 110px;
  background: var(--color-grey-86);
  width: 100%;
  border-radius: 4px;
}

.logoWrapper {
  align-items: center;
  display: flex;
  height: 81px;
  justify-content: space-around;
}

.back,
.close {
  display: none;
  transition: transform 300ms ease;

  & :active {
    transform: scale(0.85);
  }
}

.back {
  height: 19px;
  width: 11px;
  fill: var(--color-white);
}

.close {
  height: 17px;
  width: 17px;
  fill: #686868;
}

@media (--media-palm) {

  .back,
  .close {
    display: block;
  }

  .hidePrevButton {
    visibility: hidden;
  }
}

