@import "../colors.css";

.logo {
  max-width: 110px;
  max-height: 21px;
  margin: 29px auto 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 110px;
  background: var(--color-grey-86);
  width: 100%;
}
