@import "../colors.css";
@import "../typography.css";
@import "../spacing.css";
@import "../media.css";

.title {
  font-family: var(--primary-font-family);
  font-size: var(--font-size-xxlarge);
  color: var(--color-white);
}

.light.title {
  color: var(--color-grey-83);
}

.success {
  color: var(--color-success);
  margin: 0;
}

.field,
.value {
  font-family: var(--primary-font-family);
}

.field {
  color: var(--color-grey-39);
  margin-bottom: var(--spacing-tiny);
  font-size: var(--font-size-small);
}

.value {
  color: var(--color-white);
  font-size: var(--font-size-medium);
}

.light .value {
  color: var(--color-grey-83);
}

.mediumSize {
  width: 80%;
}

.page {
  margin: var(--spacing-medium) var(--spacing-small) var(--spacing-medium) 0;
  padding:
    var(--spacing-xlarge)
    var(--spacing-small)
    var(--spacing-xlarge)
    var(--spacing-small);
}

.successIcon {
  padding-top: 10px;
}

.alignSelfCenter {
  align-self: center;
}

.confirmationIcon {
  border-radius: 50%;
  background-color: var(--color-grey-85);
  padding: 20px;
  width: 80px;
  height: 80px;
}

.light .confirmationIcon {
  background-color: var(--color-grey-10);
}

@media (--media-palm) {

  .success {
    text-align: center;
  }

  .page {
    background-color: transparent;
    margin: var(--spacing-medium) 0 0 0;
    padding:
      var(--spacing-small)
      var(--spacing-small)
      0
      var(--spacing-small);
  }
}
