@import "../colors.css";
@import "../spacing.css";
@import "../typography.css";
@import "../media.css";

:root {
  --switch-label-left: 15px;
  --switch-label-font-family: var(--primary-font-family);
  --switch-label-font-size: 13px;

  --switch-width: 39px;
  --switch-height: 25px;
  --switch-radius: 12px;
  --switch-bullet-width: 17px;
  --switch-bullet-height: 17px;
  --switch-bullet-off: 5px;
  --switch-bullet-on: calc(var(--switch-width) - var(--switch-bullet-width) - var(--switch-bullet-off));

  --switch-border-color: #74c29a;
  --switch-bullet-on-color: var(--color-white);
  --switch-bullet-off-color: var(--color-white);
  --switch-bullet-on-background: #8deec6;
  --switch-bullet-off-background: #d86767;
  --switch-disabled-color: var(--color-grey-68);
  --switch-disabled-background: var(--color-white);
}

.switch {
  align-items: center;
  color: var(--switch-bullet-off-background);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--switch-label-font-family);
  font-size: var(--switch-label-font-size);
  font-weight: 900;
  height: var(--switch-height);
  position: relative;
  width: 70px;
}

.switch,
.switch:before,
.switch:after {
  box-sizing: border-box;
}

.switch:before,
.switch:after {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  border-radius: var(--switch-radius);
  pointer-events: none;
}

.switch:before {
  background-color: var(--switch-bullet-off-color);
  width: var(--switch-bullet-width);
  height: var(--switch-bullet-height);
  z-index: 10;
  transform:
    translateX(
      var(--switch-bullet-off)
    )
    translateY(calc(calc(var(--switch-height) / 2) - calc(var(--switch-bullet-height) / 2)));
  transition: transform 100ms ease-in;
}

.switch:after {
  background-color: var(--switch-bullet-off-background);
  width: var(--switch-width);
  height: var(--switch-height);
  border: 1px solid var(--switch-bullet-off-background);
  transition: background-color 70ms ease-in;
}

.checked:before {
  background-color: var(--switch-bullet-on-color);
  transform:
    translateX(var(--switch-bullet-on))
    translateY(calc(calc(var(--switch-height) / 2) - calc(var(--switch-bullet-height) / 2)));
}

.switch > input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.checked:after {
  background-color: var(--switch-bullet-on-background);
  border-color: var(--switch-bullet-on-background);
}

.checked {
  color: var(--switch-bullet-on-background);
}

.disabled {
  color: var(--switch-disabled-color);
}

.disabled > input {
  cursor: not-allowed;
}

.disabled:before {
  background-color: var(--switch-disabled-color);
}

.disabled:after {
  background-color: var(--switch-disabled-background);
  border-color: var(--switch-disabled-color);
}

.switch span::selection {
  color: inherit;
}

.checked span::selection {
  color: var(--switch-bullet-on-background);
}
