@import "../colors.css";
@import "../spacing.css";
@import "../typography.css";
@import "../media.css";

.switch {
  display: inline-flex;
  user-select: none;
  width: 100%;
}

.content {
  display: none;
  width: 100%;
}

.switchButton {
  background-color: var(--color-grey-84);
  border: 1px solid var(--color-grey-74);
  color: var(--color-white);
  cursor: pointer;
  flex-grow: 1;
  font-family: var(--primary-font-family);
  font-size: var(--font-size-small);
  letter-spacing: var(--letter-spacing);
  outline: none;
  padding: 0;
  position: relative;
  text-align: center;
}

.switchButton:not(:last-child) {
  border-right: 1px solid var(--color-black);
}

.light .switchButton {
  color: var(--color-grey-83);
  background-color: var(--color-grey-10);
  border: 1px solid var(--color-grey-11);
  border-right: 1px solid var(--color-grey-10);
}

.switchButton > h3 {
  font-size: var(--font-size-small);
  margin-top: 23px;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-weight: normal;
}

.switchButton > p {
  font-size: var(--font-size-tiny);
  margin-top: 0;
  margin-bottom: 14px;
  color: var(--color-grey-33);
}

.switchButton.checked > h3 {
  color: var(--checkout-primary-color);
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

.switchButton.checked:before {
  content: "";
  position: absolute;
  left: 36.75%;
  bottom: -1px;
  height: 1px;
  width: 26.5%;
  border-bottom: 1px solid var(--checkout-primary-color);
}

.switchButton:last-child .switchButton {
  border-right: 1px solid var(--color-grey-74);
}

.light .switchButton:last-child .switchButton {
  border-right: 1px solid var(--color-grey-11);
}

.switchButton.checked:after {
  content: "";
  position: absolute;
  left: calc(50% - 8px);
  bottom: -8px;
  height: 0;
  vertical-align: middle;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--checkout-primary-color);
}

@media (--media-tablet) {

  .switchButton.checked:before {
    left: 19%;
    width: 62%;
  }

  .switchButton > h3 {
    font-size: var(--font-size-tiny);
  }
}

@media (--media-palm) {

  .switchButton.checked:before {
    left: 19%;
    width: 62%;
  }

  .switchButton > h3 {
    font-size: var(--font-size-tiny);
  }
}

.visible {
  display: block;
  width: 100%;
}
