@import "../../../media.css";
@import "../../../spacing.css";
@import "../../../colors.css";
@import "../../../typography.css";
@import "../../../margin.css";

:root {
  --total-color: var(--color-dark-primary-color);
  --total-font-size: var(--font-size-small);
  --total-font-family: var(--primary-font-family);
  --total-letter-spacing: var(--letter-spacing);

  --safe-color: var(--color-white);
  --safe-font-size: var(--font-size-tiny);
  --safe-font-family: var(--primary-font-family);
  --safe-padding-bottom: var(--spacing-tiny);

  --powered-color: var(--color-grey-53);
  --powered-font-size: var(--font-size-tiny);
  --powered-font-family: var(--primary-font-family);
  --powered-padding-bottom: var(--spacing-tiny);
}

