@import "../animations.css";
@import "./properties.css";

.checkout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: var(--checkout-background-color);
}

.wrapper {
  width: 90vw;
  height: 93vh;
  padding-left: calc(100vw - 100%);
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.closingEffect {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 450ms;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  flex: 1;
}

.darkContent {
  flex-grow: 0;
  background-color: var(--dark-content-background-color);
}
