@import "../animations.css";
@import "../colors.css";
@import "../spacing.css";
@import "../media.css";
@import "../margin.css";

:root {
  --page-margin: var(--spacing-medium) var(--spacing-small);
  --checkout-background-color: var(--color-main-background);
  --dark-content-background-color: var(--color-grey-83);
}
