@import "./properties.css";

.page {
  margin: var(--page-margin);
  background-color: var(--background-fill-color);
  padding:
    var(--spacing-xlarge)
    var(--spacing-small)
    var(--spacing-xlarge)
    0;
}

.successIcon {
  padding-top: var(--success-icon-padding-top);
}

.errorIcon {
  padding-top: var(--error-icon-default-padding);
  padding-left: var(--error-icon-default-padding);
}

.alignSelfCenter {
  align-self: center;
}

.confirmationIcon {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: var(--confirmation-icon-default-padding);
  width: var(--confirmation-icon-size);
  height: var(--confirmation-icon-size);
}
