@import "../colors.css";
@import "../typography.css";
@import "../spacing.css";
@import "../media.css";

:root {
  --page-margin: var(--spacing-medium) var(--spacing-small) var(--spacing-medium) 0;
  --page-title-font-size: var(--font-size-xxlarge);
  --page-title-color: var(--color-white);
  --page-title-margin: 6px 0;

  --confirmation-font-family: var(--primary-font-family);
  --background-fill-color: var(--color-grey-83);

  --success-icon-padding-top: 10px;
  --error-icon-default-padding: 8px;
  --confirmation-icon-default-padding: 20px;
  --confirmation-icon-size: 80px;
}
