@import "./properties.css";

.wrapper {
  width: 100%;
  box-shadow: var(--wrapper-box-shadow);
  background-color: var(--wrapper-dark-background-color);
}

.progressBar {
  width: 0;
  height: 3px;
  background: linear-gradient(to left, var(--progressbar-background-end-color), var(--progressbar-background-begin-color));
  transition: all 0.25s ease-out;
}

.step {
  font-family: var(--step-font-family);
  font-size: var(--step-font-size);
  color: var(--step-color);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  justify-content: center;
}

.active {
  color: var(--step-color-active);
}

.passed {
  color: var(--step-color-active);
  opacity: 0.6;
}

.stepIndex {
  margin-right: 4px;
}

@media (--media-palm) {

  .stepIndex {
    display: none;
  }

  .active {
    width: 100%;
    color: var(--step-color-active-mobile);
  }

  .step:not(.active) {
    display: none;
  }
}
