@import "../colors.css";
@import "../media.css";
@import "../typography.css";
@import "../spacing.css";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
}

.title {
  width: 100%;
  margin-top: var(--spacing-large);
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-size: var(--font-size-xlarge);
  color: var(--color-title);
  letter-spacing: 0.02em;
  justify-content: center;
  display: flex;
  text-align: center;
}

.optionsContainer {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 265px;
  margin-top: 37px;
  width: calc(100% - 60px);
}

.paymentTitle {
  color: var(--color-white);
  text-transform: uppercase;
  margin: 0;
  margin-top: 3px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--spacing-medium);
  fill: var(--checkout-primary-color);
}

.buttonContainer button:first-child {
  margin-left: var(--spacing-medium);
}

.buttonContainer button:first-child:hover {
  fill: var(--color-black);
}

.buttonContainer button:last-child {
  margin-right: var(--spacing-medium);
}

@media (--media-palm) {

  .optionsContainer {
    height: 100%;
    justify-content: center;
  }

  .footer {
    max-width: 330px;
  }
}

.footer,
.footer > div {
  width: 100%;
}
