@import "../colors.css";
@import "../media.css";
@import "../typography.css";
@import "../spacing.css";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.title {
  margin: 0;
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-size: var(--font-size-large);
  color: var(--color-title);
  letter-spacing: 0.02em;
  align-items: center;
  display: flex;
  flex: 2;
}

.optionsContainer {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 10;
  justify-content: start;
  width: 92%;
}

.paymentTitle {
  color: var(--color-white);
  text-transform: uppercase;
  margin: 0;
  margin-top: 3px;
}

.column {
  justify-content: center;
  flex-direction: column;
}

.footer {
  align-items: center;
  flex: 2;
  display: flex;
  width: 100%;
}

@media (--media-palm) {

  .optionsContainer {
    height: 100%;
    justify-content: center;
  }

  .page {
    max-width: 92%;
  }
}
