@import "./properties.css";

.optionsContainer {
  margin-top: 27px;
}

.amount {
  color: var(--amount-color);
  letter-spacing: 1.6px;
  font-family: var(--amount-font-family);
  font-weight: var(--amount-font-weight);
  font-size: var(--amount-font-size);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
