@import "../colors.css";
@import "../spacing.css";
@import "../typography.css";
@import "../media.css";

.wrapper {
  width: 100%;
  box-shadow: 0 3px 6px var(--color-grey-84);
  background-color: var(--color-grey-68);
}

.steps {
  display: flex;
  justify-content: space-around;
  margin-bottom: 7px;
}

.progressBar {
  width: 0;
  height: 3px;
  background: linear-gradient(to left, var(--checkout-secondary-color), var(--checkout-primary-color));
  transition: all 0.25s ease-out;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font-family);
  font-size: var(--font-size-small);
  color: var(--color-grey-35);
  fill: var(--color-grey-35);
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 900;
}

.active,
.passed {
  color: var(--checkout-primary-color);
  fill: var(--checkout-primary-color);
}

.step svg {
  margin-right: 7px;
}

.passed {
  opacity: 0.6;
}

.stepIndex {
  margin-right: 4px;
}

@media (--media-palm) {

  .stepIndex {
    display: none;
  }

  .active {
    color: var(--color-white);
  }

  .step .title {
    display: none;
  }
}
