:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-07: #ededed;
  --color-grey-33: #acacac;
  --color-grey-35: #a7a7a7;
  --color-grey-53: #797979;
  --color-grey-68: #515151;
  --color-grey-74: #434343;
  --color-grey-77: #555555;
  --color-grey-84: #282828;
  --color-grey-85: #1f1f1f;
  --color-error: #dc6860;
}
