:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey-07: #ededed;
  --color-grey-10: #f4f4f4;
  --color-grey-11: #e3e3e3;
  --color-grey-33: #acacac;
  --color-grey-34: #a8a8aa;
  --color-grey-35: #a7a7a7;
  --color-grey-39: #9c9b9b;
  --color-grey-53: #797979;
  --color-grey-64: #5c5c5c;
  --color-grey-68: #515151;
  --color-grey-74: #434343;
  --color-grey-77: #555555;
  --color-grey-78: #383838;
  --color-grey-83: #2b2b2b;
  --color-grey-84: #282828;
  --color-grey-85: #1f1f1f;
  --color-grey-86: #242424;

  --color-title: #54d894;

  --color-error: #dc6860;
  --color-success: var(--checkout-primary-color);
}
