@import "./properties.css";

.page {
  width: 100%;
  margin: var(--page-margin);
}

.noMarginTop {
  margin-top: 0;
}

.title {
  margin: var(--page-title-margin);
  font-family: var(--page-title-font-family);
  font-size: var(--page-title-font-size);
  color: var(--page-title-color);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  justify-content: center;
  padding-bottom: var(--page-title-padding-bottom);
}

@media (--media-palm) {

  .title {
    display: none;
  }
}
