@import "./properties.css";

.page {
  margin: var(--page-margin);
  background-color: var(--background-fill-color);
  padding:
    var(--spacing-xlarge)
    var(--spacing-small)
    var(--spacing-xlarge)
    0;
}

.title {
  font-family: var(--confirmation-font-family);
  font-size: var(--page-title-font-size);
  color: var(--page-title-color);
}

.confirmation {
  text-align: center;
}

.success {
  color: var(--confirmation-success);
  margin: 0;
}

.successIcon {
  padding-top: 10px;
}

.errorIcon {
  padding-top: 8px;
  padding-left: 8px;
}

.confirmationIcon {
  align-self: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  width: 80px;
  height: 80px;
}

.error {
  color: var(--confirmation-error);
  margin: 0;
}

.info {
  font-size: var(--confirmation-info);
}

.field,
.value {
  font-family: var(--confirmation-font-family);
}

.field {
  color: var(--field-color);
  font-size: var(--field-font-size);
}

.value {
  color: var(--value-color);
  font-size: var(--value-font-size);
}

.rightValue {
  width: 80%;
}
