@import "./properties.css";

.page {
  margin: var(--page-margin);
  background-color: var(--background-fill-color);
  padding:
    var(--spacing-xlarge)
    var(--spacing-small)
    var(--spacing-xlarge)
    0;
}

.title {
  font-family: var(--confirmation-font-family);
  font-size: var(--page-title-font-size);
  color: var(--page-title-color);
}

.textAligned {
  text-align: center;
}

.success {
  color: var(--confirmation-success);
  margin: 0;
}

.successIcon {
  padding-top: var(--success-icon-padding-top);
}

.errorIcon {
  padding-top: var(--error-icon-default-padding);
  padding-left: var(--error-icon-default-padding);
}

.alignSelfCenter {
  align-self: center;
}

.confirmationIcon {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: var(--confirmation-icon-default-padding);
  width: var(--confirmation-icon-size);
  height: var(--confirmation-icon-size);
}

.error {
  color: var(--confirmation-error);
  margin: 0;
}

.info {
  font-size: var(--confirmation-info);
}

.field,
.value {
  font-family: var(--confirmation-font-family);
}

.field {
  color: var(--field-color);
  margin-bottom: var(--field-margin-bottom);
  font-size: var(--field-font-size);
}

.value {
  color: var(--value-color);
  font-size: var(--value-font-size);
}

.mediumSize {
  width: 80%;
}
