@import "../colors.css";
@import "../typography.css";
@import "../media.css";

:root {
  --toggle-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  --cart-background-color: #6bb18d;
  --cart-amount-background-color: #5d9c7c;
}

.closeIcon {
  color: var(--color-white);
  width: 25px;
  position: absolute;
  right: 0;
  display: none;
  transition: scale 0.3s var(--toggle-transition);
}

.closeIcon:active {
  transform: scale(0.95);
}

.cart {
  box-sizing: border-box;
  max-width: 316px;
  max-height: 538px;
  min-width: 316px;
  min-height: 538px;
  margin-top: 40px;
  margin-right: -15px;
  overflow: hidden;
  border-radius: 4px;
  display: block;
  width: 100%;
  transition: all 0.3s ease-out;
  position: relative;
  left: 0;
  background: var(--cart-background-color);
}

.title {
  display: flex;
  align-items: center;
  color: var(--color-white);
  fill: var(--color-white);
  font-family: var(--primary-font-family);
  font-size: var(--font-size-small);
  font-weight: 900;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin: 24px 34px 19px 21px;
}

.title svg:first-of-type {
  margin-right: 12px;
}

.title span {
  margin-top: 7px;
}

.itemsWrapper {
  display: flex;
  flex-direction: column;
  background: var(--cart-background-color);
  color: transparent;
  margin: 23px 34px 23px 18px;
  height: 208px;
  overflow: hidden;
}

.scrollbarThumb {
  background-color: #000000;
  border-radius: 5px;
  opacity: 0.5;
}

.item {
  display: flex;
  flex-direction: column;
  color: var(--color-black);
  background: var(--color-white);
  font-family: var(--primary-font-family);
  font-size: var(--font-size-small);
  width: calc(100% - 12px);
  height: 54px;
  border-radius: 3px;
}

.item:not(:first-child) {
  margin-top: 5px;
}

.item p {
  margin: 10px 13px 0;
  font-size: 13px;
}

.item p:last-child {
  color: var(--cart-background-color);
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 7px;
}

.item p span {
  font-weight: 900;
}

.customerResume {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 111px;
  min-width: 281px;
  margin: 11px 7px 15px 19px;
}

.customerResume > div {
  display: flex;
  margin-top: 11px;
}

.customerResume p {
  font-family: var(--primary-font-family);
  font-size: var(--font-size-small);
  font-weight: 900;
  color: var(--color-white);
  margin: 0;
}

.customerResume p:first-of-type {
  color: var(--color-black);
  opacity: 0.5;
  min-width: 60px;
  margin-right: 7px;
}

.customerResume p:last-of-type {
  font-size: var(--font-size-small);
  min-width: 200px;
  max-width: 200px;
}

.customerResume div:last-child p:last-child {
  font-size: var(--font-size-tiny);
}

.amountResume {
  background: var(--cart-amount-background-color);
  min-height: 109px;
  min-width: 281px;
  width: 100%;
  display: flex;
}

.amountResume p {
  margin: 0;
}

.labels,
.values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--primary-font-family);
  font-size: var(--font-size-small);
  color: var(--color-white);
  width: 60px;
  height: 83px;
  margin: 11px 7px 15px 19px;
  font-weight: 500;
}

.labels p:last-child,
.values p:last-child {
  font-weight: 900;
}

.amountResume > .values {
  width: 107px;
  margin: 11px 0 15px;
}

.amountResume .labels p {
  opacity: 0.6;
}

.amountResume .labels p:last-child {
  font-size: var(--font-size-medium);
  opacity: 0.5;
  text-transform: uppercase;
}

.amountResume .values p:last-child {
  font-size: var(--font-size-medium);
}

.footerWrapper button {
  background: var(--color-white);
  border-radius: 0;
  border: 0;
  color: #32b895;
  font-weight: 900;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: 100%;
  height: 47px;
}

.footerWrapper svg {
  fill: #32b895;
  transform: rotate(-90deg);
}

@media (--media-palm) {

  .cart {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 0;
  }

  .cart.collapsed {
    transform: translate(-100%, 0);
  }

  .customerResume p:last-of-type {
    max-width: 100%;
  }

  .closeIcon {
    display: block;
    margin-right: 18px;
  }

  .itemsWrapper {
    margin-right: 18px;
    height: calc(100vh - 370px);
  }

  .cartIcon,
  .closeIcon {
    display: none;
  }
}

@media (--media-tablet) {

  .cartIcon,
  .closeIcon {
    display: none;
  }
}
