@import "../../src/styles/index.css";

.wrapper > div {
  display: flex;
  align-items: center;
}

.wrapper > div > span:first-child {
  margin: 20px;
  font-size: 14px;
  color: #aaaaaa;
}


hr { /* stylelint-disable-line */
  border: 1px solid #eeeeee;
  margin: 30px 0;
}
