@import "../media.css";
@import "../spacing.css";
@import "../colors.css";
@import "../margin.css";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: calc(100vw - 100%);
}

.checkout {
  max-width: 700px;
  max-height: 578px;
  background: var(--color-grey-83);
  border-radius: 4px;
  z-index: 1;
}

.closeButton {
  position: absolute;
  right: 14px;
  top: 15px;
  transition: trasform 300ms ease;

  & :active {
    transform: scale(0.95);
  }
}

.closingEffect {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 450ms;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  flex: 1;
}

@media (--media-palm) {

  .wrapper {
    align-items: inherit;
  }

  .checkout {
    max-width: 100vw;
    max-height: 100%;
  }

  .content {
    width: 100%;
  }
}
