@import "../media.css";
@import "../spacing.css";
@import "../colors.css";
@import "../margin.css";

.checkout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: var(--color-grey-83);
}

.light.checkout {
  background-color: var(--color-white);
}

.wrapper {
  width: 90vw;
  height: 93vh;
  padding-left: calc(100vw - 100%);
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.cartWrapper {
  padding-bottom: 0;
}

.closingEffect {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 450ms;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  flex: 1;
}

@media (--media-palm) {

  .rowWrapper {
    margin-left: 0;
  }

  .wrapper {
    width: 100vw;
  }

  .content {
    width: 100%;
  }
}
