@import "./properties.css";

.safe {
  position: relative;
  justify-content: flex-end;
  color: var(--safe-color);
  font-size: var(--safe-font-size);
  font-family: var(--safe-font-family);
  text-transform: uppercase;
  padding-bottom: var(--safe-padding-bottom);
}

.safe > svg {
  margin-right: 5px;
  margin-bottom: 3px;
}

.safe:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -12px;
  width: 1px;
  height: 12px;
  background-color: var(--color-black);
  border-right: 1px solid var(--color-grey-68);
}

.powered {
  color: var(--powered-color);
  font-size: var(--powered-font-size);
  font-family: var(--powered-font-family);
  text-transform: lowercase;
  padding-bottom: var(--powered-padding-bottom);
}

.hidden {
  display: none;
}

@media (--media-palm) {

  .button {
    width: 100%;
  }

  .safe,
  .powered {
    justify-content: center;
  }

  .safe:after {
    display: none;
  }
}
