@import "../typography.css";
@import "./properties.css";

.container {
  display: flex;
  width: 100%;
}

.container,
.container * {
  box-sizing: border-box;
}

.boxContainer {
  flex: 1;
}

.disabled {
  cursor: not-allowed;
}

.disabled .inputContainer {
  border-bottom: 1px solid var(--input-color-disabled);
  border-radius: var(--input-textarea-disabled-border-radius);
}

.disabled .secondaryText {
  color: var(--input-color-disabled);
}

.inputContainer {
  position: relative;
}

.inputContainer * {
  font-family: var(--input-font-family);
  letter-spacing: var(--letter-spacing);
}

.inputContainer > textarea,
.inputContainer > input {
  display: block;
  min-width: 100%;
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 1px solid var(--input-textarea-border-color);
  border-radius: var(--input-textarea-border-radius);
  font-size: var(--input-font-size);
  color: var(--input-font-color);
  padding-top: var(--input-textarea-padding-top);
  caret-color: var(--input-textarea-caret-default-color);
  background: none;
}

.inputContainer > textarea {
  padding: 0;
  margin: 0;
  resize: none;
  z-index: 1;
  position: absolute;
  height: var(--input-textarea-height);
  overflow: hidden;
  outline: none;
}

.inputContainer > textarea:disabled,
.inputContainer > input:disabled {
  border: var(--input-textarea-disabled-border);
  cursor: not-allowed;
}

.inputContainer > textarea:disabled ~ label,
.inputContainer > input:disabled ~ label {
  color: var(--input-label-color);
  cursor: not-allowed;
}

.inputContainer > textarea::placeholder,
.inputContainer > input::placeholder {
  opacity: var(--input-textarea-placeholder-opacity);
}

.inputContainer > textarea:focus::placeholder,
.inputContainer > input:focus::placeholder {
  opacity: var(--input-textarea-focus-placeholder-opacity);
  color: var(--input-textarea-focus-placeholder-color);
  font-size: var(--input-font-size);
}

.inputContainer > label {
  color: var(--input-label-color-default);
  font-size: var(--input-label-font-size-default);
  white-space: nowrap;
  position: absolute;
  top: 14px;
  pointer-events: none;
  transition: var(--input-label-transition-time) ease all;
}

.inputContainer > textarea:focus,
.inputContainer > input:focus {
  border-bottom: 1px solid var(--input-textarea-focus-border-color);
  border-radius: var(--input-textarea-border-radius);
  transition: border-color var(--input-textarea-focus-transition-time) ease;
  outline: none;
}

.inputContainer > textarea:focus ~ label,
.inputContainer > input:focus ~ label {
  top: 2px;
  font-size: var(--input-label-font-size-focus);
  color: var(--input-label-color-focus);
}

.inputContainer .contentPresent {
  top: 2px;
  font-size: var(--input-label-font-size-focus);
  color: var(--input-label-color-focus);
}

.icon {
  padding-top: 22px;
  margin-right: 15px;
  color: var(--input-icon-inactive-color);
}

.disabled .icon {
  color: var(--input-color-disabled);
}

.active .icon {
  color: var(--input-icon-active-color);
}

.displayPasswordIcon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  cursor: pointer;
}

.secondaryText {
  width: 100%;
  font-family: var(--input-font-family);
  font-size: var(--input-secondary-text-font-size);
  text-align: left;
  margin: 0;
  margin-top: 5px;
  color: var(--input-secondary-text-color);
}

.multiline {
  height: auto;
  padding-top: var(--input-container-textarea-padding-top);
}

.multiline > .expander {
  white-space: pre-wrap;
  visibility: hidden;
  min-height: 25px;
  word-wrap: break-word;
}

.multiline .expander,
.multiline textarea {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
  word-break: break-word;
}

.error ~ .secondaryText {
  color: var(--color-pink);
}

.error > textarea,
.error > input,
.error > textarea:focus,
.error > input:focus {
  border-bottom: 2px solid var(--color-pink);
}

.tolltip {
  position: absolute;
  right: 0;
  top: 32%;
}
