@import "../colors.css";
@import "../media.css";
@import "../spacing.css";
@import "../typography.css";

.content {
  display: flex;
  flex: 10;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.paymentCardContainer {
  width: 40%;
}

.paymentCard {
  transform: scale(0.85);
}

.cardFlipped {
  transform: scale(0.85) rotateY(180deg);
}

.creditcardForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dropdownContainer {
  padding-top: var(--spacing-large);
}

.inputsContainer {
  width: 40%;
  display: flex;
  flex-direction: column;

  & > *:not(:first-child):not(:last-child) {
    padding-top: var(--spacing-small);
  }
}

.header {
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
  flex: 2;
  font-family: var(--primary-font-family);
}

.title {
  color: var(--checkout-primary-color);
  font-size: var(--font-size-large);
  font-family: var(--primary-font-family);
  font-weight: 900;
  margin: 0;
  text-transform: capitalize;
}

.subtitle {
  color: var(--text-color);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.04em;
  margin: 0;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
}

.fieldExpiration,
.fieldExpiration input {
  width: 30%;
}

.fieldCvv,
.fieldCvv input {
  width: 50%;
}

.footer {
  align-items: center;
  flex: 2;
  display: flex;
  width: 100%;
}

@media (--media-palm) {

  .content {
    align-items: flex-start;
  }

  .paymentCardContainer,
  .inputsContainer {
    width: 90%;
  }

  .creditcardForm {
    max-width: 92%;
  }

  .paymentCardContainer {
    display: none;
  }
}
