.cardSample {
  display: flex;
  background-color: #FFFFFF;
  width: 100%;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #AAAAAA;
  font-family: sans-serif;
  overflow: hidden;
}
