@import "../../src/styles/media.css";

.background {
  background-color: #eeeeee;
}

.background:before {
  font-size: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.2;
}

@media (--media-tv) {
  .background:before {
    content: "tv";
  }
}

@media (--media-desk) {
  .background:before {
    content: "desk";
  }
}

@media (--media-tablet) {
  .background:before {
    content: "tablet";
  }
}

@media (--media-palm) {
  .background:before {
    content: "palm";
  }
}

.cardSample {
  display: flex;
  background-color: #FFFFFF;
  width: 100%;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #AAAAAA;
  font-family: sans-serif;
  overflow: hidden;
}
