.dropdownButton {
  position: relative;
  outline: none;
}

.content {
  padding: 15px;
  background-color: #1f1f1f;
  border-radius: 4px;
  position: absolute;
  left: -60px;
}

.hidden {
  display: none;
}
