@import "./properties.css";
@import "../media.css";

.close,
.back {
  font-size: var(--header-button-font-size);
  padding: 0;
  margin-top: 22px;
}

.logo {
  max-height: var(--logo-max-height);
  max-width: var(--logo-max-width);
  margin-top: var(--logo-margin-top);
}

.header {
  min-height: var(--header-min-height);
  max-height: var(--header-max-height);
  margin-bottom: var(--header-margin-bottom);
  display: flex;
}

.header > * {
  align-items: center;
  flex: 1;
}

@media (--media-palm) {

  .close,
  .back {
    font-size: var(--header-button-font-size-mobile);
    margin-top: 20px;
  }

  .close {
    margin-right: 22px;
  }

  .back {
    margin-left: 22px;
  }
}
