@import "../colors.css";
@import "../typography.css";
@import "../media.css";

.emailForm {
  font-size: 16px;
  width: 100%;
  margin-right: 50px;
  margin-left: 50px;
  background-color: var(--color-grey-74);
  padding: 21px;
  border: 2px solid var(--color-grey-77);
  box-shadow: inset 0 0 1px 1px var(--checkout-background-color);
}

.emailFormTitle {
  font-family: var(--primary-font-family);
  font-weight: var(--title-font-bold);
  color: var(--checkout-primary-color);
  margin-top: 0;
  padding-bottom: 0;
  font-size: 16px;
}

.emailFormClose {
  font-size: 16px;
  padding: 0;
}

@media (--media-palm) {

  .emailForm {
    margin-right: 0;
    margin-left: 0;
  }

  .generateBoleto {
    width: 100%;
  }

  .cardForm {
    margin-top: 0;
  }
}
