@import "./properties.css";

.addressForm {
  background-color: var(--addressForm-background-color);
  border: 2px dashed var(--addressForm-border-color);
  padding: 33px 24px 33px 0;
  margin: auto;
}

.hidden {
  display: none;
}

.title {
  margin: var(--page-title-margin);
  font-family: var(--page-title-font-family);
  font-size: var(--page-title-font-size);
  color: var(--page-title-color);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  padding-bottom: var(--page-title-padding-bottom);
}

.buttonsWrapper {
  margin-top: 26px;
}

@media (--media-palm) {

  .actionButton {
    padding: 17px 24px;
  }
}
