@import "./properties.css";

.wrapper {
  width: 100%;
  background-color: var(--wrapper-background-color);
}

.progressBar {
  width: 0;
  height: 3px;
  background: linear-gradient(to left, var(--progressbar-background-end-color), var(--progressbar-background-begin-color));
  transition: all 0.25s ease-out;
}

.step {
  font-family: var(--step-font-family);
  font-size: var(--step-font-size);
  color: var(--step-color);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  justify-content: center;
}

.active {
  color: var(--step-color-active);
}

@media (--media-palm) {

  .active {
    width: 100%;
  }

  .step:not(.active) {
    display: none;
  }
}
