@import "../colors.css";
@import "../spacing.css";
@import "../typography.css";
@import "../media.css";

:root {
  --wrapper-background-color: var(--color-grey-68);
  --wrapper-box-shadow: 0 3px 6px var(--color-grey-84);

  --progressbar-background-begin-color: var(--color-dark-greenish-100);
  --progressbar-background-end-color: var(--color-dark-downy-100);

  --step-font-family: var(--primary-font-family);
  --step-font-size: var(--font-size-small);
  --step-color: var(--color-grey-39);
  --step-color-active: var(--color-greenish);
  --step-color-active-mobile: var(--color-white);
}
