@import "./properties.css";

.addressForm {
  background-color: var(--addressForm-background-color);
  border: 1px dashed var(--addressForm-border-color);
  box-shadow: inset 0 0 0 2px var(--color-main-background);
  padding: 33px 24px 0 0;
  margin: auto;
}

.hidden {
  display: none;
}

.title {
  margin: var(--page-title-margin);
  font-family: var(--page-title-font-family);
  font-size: var(--page-title-font-size);
  color: var(--page-title-color);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  padding-bottom: var(--page-title-padding-bottom);
}

.title > span {
  padding-left: 0;
  padding-bottom: 0;
}

.buttonsWrapper {
  margin-top: 26px;
  padding-bottom: 0;
}

@media (--media-tablet) {

  .actionButton {
    padding: 17px 24px;
  }
}

@media (--media-palm) {

  .actionButton {
    padding: 17px 24px;
  }

  .addressForm {
    border: 0;
    padding: 0;
    box-shadow: none;
  }

  .addressForm > * {
    padding-left: 0;
  }

  .title {
    justify-content: center;
  }

  .buttonsWrapper {
    margin-top: 10px;
  }

  .buttonsWrapper > * {
    padding-bottom: 0;
  }
}
