@import "../colors.css";
@import "../typography.css";

:root {
  --button-padding-top-tiny: 0;
  --button-padding-left-tiny: 8px;

  --button-padding-top-default: 0;
  --button-padding-left-default: 20px;

  --button-padding-top-huge: 0;
  --button-padding-left-huge: 48px;
}

/*
* Default
*/

.button {
  align-items: center;
  background: linear-gradient(to left, var(--checkout-secondary-color), var(--checkout-primary-color));
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  color: var(--color-white);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--primary-font-family);
  font-weight: var(--title-font-normal);
  font-size: 14px;
  justify-content: center;
  letter-spacing: var(--letter-spacing);
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  user-select: none;
  vertical-align: text-top;
  white-space: nowrap;
  word-break: keep-all;
}

.button:hover {
  background: #32b895;
}

.button > svg {
  margin-right: 5px;
  margin-left: 5px;
  fill: var(--color-white);
}

.gradient {
  background-image: linear-gradient(90deg, var(--checkout-primary-color) 10%, #45babf 90%);
}

.button:active {
  transform: scale(0.95);
  background: var(--checkout-primary-color);
}

.button:focus {
  background: var(--checkout-primary-color);
}

.button:disabled {
  background: #484848;
  color: #909090;
  cursor: not-allowed;
}

.button:disabled > svg {
  fill: #909090;
}

/*
* Fill
*/

.clean,
.clean:active,
.clean:hover,
.clean:focus {
  background-color: transparent;
  background-image: none;
  color: var(--checkout-primary-color);
}

.outline,
.outline:active,
.outline:focus {
  color: var(--color-white);
  box-shadow: inset 0 0 0 2px var(--color-white);
  background: transparent;
}

.outline svg {
  fill: var(--checkout-primary-color);
}

.outline:hover svg {
  fill: var(--color-black);
}

.outline:hover {
  background: var(--checkout-primary-color);
  color: var(--color-black);
}

/*
* Sizes
*/

.tiny {
  padding: var(--button-padding-top-tiny) var(--button-padding-left-tiny);
  font-size: var(--font-size-tiny);
  text-transform: none;
  height: 24px;
}

.default {
  padding: var(--button-padding-top-default) var(--button-padding-left-default);
  font-size: var(--font-size-small);
  height: 36px;
}

.huge {
  padding: var(--button-padding-top-huge) var(--button-padding-left-huge);
  font-size: var(--font-size-medium);
  height: 44px;
}
