@import "../colors.css";
@import "../typography.css";

.radioGroup *,
.radioGroup *:before,
.radioGroup *:after {
  box-sizing: border-box;
  font-family: var(--primary-font-family);
  font-size: var(--font-size-small);
  color: var(--color-white);
}

.radioGroup {
  display: flex;
}

.radio {
  font-size: 14px;
}

.label {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  user-select: none;
}

.input {
  position: relative;
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-color: var(--color-white);
  transition: border-color 150ms ease-in;
  outline: none;
  pointer-events: none;
}

.input:checked:before {
  transform: scale(1);
}

.input:before {
  content: "";
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  position: absolute;
  transition: transform 150ms ease-in;
  transform: scale(0);
  background-color: var(--color-white);
}

.title {
  order: -1;
  color: var(--color-white);
}
