@import "../spacing.css";
@import "../colors.css";
@import "../typography.css";

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  background-color: #242424;
}

.safe {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding-left: var(--spacing-medium);
  color: var(--color-grey-53);
  font-size: var(--font-size-small);
  font-family: var(--primary-font-family);
  line-height: 14px;
}

.safe > svg {
  padding-right: var(--spacing-tiny);
}

.safeText {
  color: var(--color-grey-39);
  font-weight: bold;
}

.powered {
  color: var(--color-grey-53);
  font-size: var(--font-size-small);
  font-family: var(--primary-font-family);
  padding-right: var(--spacing-medium);
  line-height: 14px;
}

.companyName {
  color: var(--color-white);
  font-weight: bold;
}
