@import "../colors.css";
@import "../typography.css";

:root {
  --button-font-family: var(--primary-font-family);
  --button-font-weight: var(--title-font-normal);

  --button-font-size-tiny: var(--font-size-tiny);
  --button-font-size-small: var(--font-size-small);
  --button-font-size-default: var(--font-size-small);
  --button-font-size-large: var(--font-size-small);
  --button-font-size-extra-large: var(--font-size-medium);

  --button-background-color: var(--color-greenish-100);
  --button-background-color-disabled: var(--color-grey-11);

  --button-double-outline-color: var(--color-grey-68);
  --button-double-border-color: var(--color-grey-80);
  --button-double-main-color: var(--color-white);

  --button-color-high: var(--color-greenish-100);
  --button-color-normal: var(--color-black);
  --button-color-low: var(--color-white);
  --button-color-disabled: var(--color-grey-30);

  --button-radius: 3px;
  --button-animation-active: scale(0.95);

  --button-padding-top-tiny: 8px;
  --button-padding-left-tiny: 8px;

  --button-padding-top-small: 8px;
  --button-padding-left-small: 16px;

  --button-padding-top-default: 9px;
  --button-padding-left-default: 24px;

  --button-padding-top-large: 9px;
  --button-padding-left-large: 32px;

  --button-padding-top-extra-large: 17px;
  --button-padding-left-extra-large: 48px;
}
