@import "../../theme-pagarme/colors.css";
@import "../../theme-pagarme/typography.css";
@import "./properties.css";

.close,
.back {
  font-size: var(--header-button-size);
  padding: 0;
}

.close {
  justify-content: flex-end;
}

.logo {
  max-height: var(--logo-max-height);
  max-width: var(--logo-max-width);
}

.header {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  display: flex;
}

.header > * {
  align-items: center;
  flex: 1;
}
