@import "../colors.css";
@import "../typography.css";
@import "../spacing.css";
@import "../media.css";

:root {
  --page-margin: var(--spacing-medium) var(--spacing-small);
  --page-title-font-family: var(--primary-font-family);
  --page-title-font-size: var(--font-size-small);
  --page-title-color: var(--color-white);
  --page-title-margin: 6px 0;
  --amount-color: var(--color-greenish);
  --amount-font-family: var(--primary-font-family);
  --amount-font-weight: var(--title-font-bold);
  --amount-font-size: var(--font-size-small);
  --generate-background-color: var(--color-grey-84);
  --barcode-font-family: var(--primary-font-family);
  --barcode-font-weight: var(--title-font-bold);
  --barcode-font-size: var(--title-size-medium);
  --barcode-color: var(--color-grey-33);
  --email-form-background: var(--color-grey-74);
  --email-form-border-color: var(--color-grey-77);
  --email-form-box-shadow-color: var(--color-grey-83);
  --email-form-title-color: var(--color-greenish);
  --email-form-title-font-family: var(--primary-font-family);
  --email-form-title-font-weight: var(--title-font-bold);
}
