@import "./properties.css";

.wrapper {
  width: 100%;
  background-color: var(--wrapper-background-color);
}

.progressBar {
  width: 0;
  height: 3px;
  background-color: var(--progressbar-background-color);
  transition: all 0.25s ease-out;
}

.steps {
  margin: var(--steps-margin);
}

.step {
  font-family: var(--step-font-family);
  font-size: var(--step-font-size);
  color: var(--step-color);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  justify-content: center;
}

.active {
  color: var(--step-color-active);
}
