@import "./properties.css";

.wrapper {
  width: 100%;
  background-color: var(--wrapper-background-color);
}

.progressBar {
  width: 0;
  height: 3px;
  background-color: var(--progressbar-background-color);
  transition: all 0.25s ease-out;
}
