@import "../../src/styles/index.css";

.container {
  padding: 20px;
  background-color: #333333;
}

.container h2 {
  color: #ffffff;
  font-family: var(--primary-font-family);
  font-weight: var(--title-font-weight);
  font-style: var(--title-font-style);
  letter-spacing: 0.7px;
}

.spacing > button {
  margin: 3px;
}
