@import "../colors.css";
@import "../typography.css";
@import "../media.css";

.addressForm {
  background-color: var(--color-grey-83);
  border: 1px dashed var(--color-grey-68);
  padding: 33px 24px 0 0;
  margin: auto;
}

.hidden {
  display: none;
}

.title {
  margin: 6px 0;
  font-family: var(--primary-font-family);
  font-size: var(--font-size-small);
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  padding-bottom: 24px;
}

.title > span {
  padding-left: 0;
  padding-bottom: 0;
}

.buttonsWrapper {
  margin-top: 22px;
  padding-bottom: 0;
}

@media (--media-tablet) {

  .actionButton {
    padding: 17px 24px;
  }
}

@media (--media-palm) {

  .actionButton {
    padding: 17px 24px;
  }

  .addressForm {
    border: 0;
    padding: 0;
    box-shadow: none;
  }

  .title {
    justify-content: center;
  }

  .buttonsWrapper {
    margin-top: 10px;
  }

  .buttonsWrapper > * {
    padding-bottom: 0;
  }
}
