@import "../colors.css";
@import "../typography.css";

:root {
  --background-color: var(--color-white);
  --font-family: var(--primary-font-family);

  --wrapper-border-bottom-color: var(--color-grey-68);

  --label-text-color: var(--color-white);
  --label-font-size: var(--font-size-small);
  --label-transition-time: 0.1s;

  --isOpen-label-text-color: var(--color-grey-39);
  --isOpen-label-font-size: var(--font-size-tiny);

  --icon-color: var(--color-grey-53);

  --optionsWrapper-transition-time: 0.1s;
  --optionsWrapper-background-color: var(--color-grey-85);
  --optionsWrapper-padding: var(--spacing-small) 0 var(--spacing-small);

  --option-text-color: var(--color-white);
  --option-hover-text-color: var(--color-greenish-100);
  --option-font-size: var(--font-size-small);
  --option-padding: 7px var(--spacing-medium) 7px;

  --selectedValue-font-size: var(--font-size-small);
  --selectedValue-text-color: var(--color-white);

  --scrollbar-thumb-background-color: var(--color-greenish-100);
  --scrollbar-thumb-border-radius: 5px;

  --disabled-opacity: 0.6;
  --error-color: var(--color-error);
  --error-font-size: var(--font-size-tiny);
}
