@import "../../styles/animations.css";

.checkout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #333333;
}

.wrapper {
  width: 90vw;
  height: 93vh;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.closingEffect {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 450ms;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
